.image1{
    Text-align:center
        width:600px
        height:400px
}
body{
    text-align:center
}
#title{
    font-size:100px
}
.image2{
      Text-align:center
        width:600px
        height:400px
}
.image3{
      Text-align:center
        width:600px
        height:400px
}
p{
    Font-size:50px
}

